Source: chatterino
Section: qt
Priority: optional
Maintainer: me <andyour@mom.com>
Build-Depends: git
Standards-Version: 2.5-2
Homepage: www.chatterino.com

Package: chatterino
Architecture: amd64
Depends qt6-base-dev, boost, openssl, libboost-thread-dev, rapidjson-dev, libnotify-dev, libwebsocketpp-dev, cmake, libbenchmark-dev, libghc-lrucache-dev, libmagicenum-dev, doxygen, libboost-all-dev,
Description: Chat client for https://twitch.tv
